.weatherInfo {
    margin-right: 20px;
}

.weatherInfo__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.weatherInfo__title {
    flex: 0 0 auto;
    margin-right: 10px;
    color: #004F79
}

.weatherInfo__state {
    font-size: 1.2em;
    font-weight: 500;
}

.weatherInfo__temp {
    background: linear-gradient(-45deg, #FB8119, #3682A9);
    border-radius: 3px;
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2;
    padding: 3px;
    text-shadow: 0 0 1px #121212;
}
